/* CSS files add styling rules to your content */

.html, .h1, .body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
height: 100%;
font-size: jumbo;
    font-weight: bold;
  text-align: center;
    margin: 2em;
}

.h1 {
  font-style: normal;
  color: green;
    font-size: jumbo;
    font-weight: bold;
  text-align: center;
}


.body {
  font-size: jumbo;
  font-weight: bold;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.img {
      display: block;
      margin-left: auto;
      margin-right: auto;
}

.responsive {
  display: block;
  max-width: 100%;
  height: auto;

}
